<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/help.css">
</head>
<body>
    <header>
      <%- include("../partials/header"); %>
    </header>
    <main>
        <section>
            <h1>
                como ajudar
            </h1>
            <div class="side-head">
                <p>
                    Nos siga nas redes sociais:
                </p>
                <div class="redes-sociais">
                    <%- include("../partials/social-media"); %>
                </div>
            </div>
        </section>
        <div class="botoes">
            <a href="">
            <p class="text-button">Acesse nossa Galeria com os destaques recentes</p>
            </a>
            <a href=""><p class="text-button">Veja aqui todas as artes enviadas pelos colaboradores</p></a>
            <a href=""><p class="text-button">Contribua com a nossa pasta pública</p></a>
        </div>
    </main>
</body>
</html>