<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <form action="">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" type="text" placeholder="Seu nome" required>
            <label for="email"></label>
            <input type="email" name="email" placeholder="Seu email" required>
            <textarea name="mensagem" placeholder="Sua mensagem" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <div class="redes-sociais">
            <%- include("../partials/social-media"); %>
        </div>
    </footer>
    
</body>
</html>