<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <form action="">

        </form>
    </main>
    <div class="redes-sociais">
        <%- include("../partials/social-media"); %>
    </div>
    
</body>
</html>