<!DOCTYPE html>
<html lang="pt-br">
    <%- include("../partials/head"); %>
<body>
    <header>
    <%- include("../partials/header"); %>
    </header>
    <main>
        <section>
            <h1>
                Você <span>confia</span><br>
                na informação<br>
                que recebe?
            </h1>
            <div class="redes-sociais">
                <%- include("../partials/social-media"); %>
            </div>
            <p>
                A <span>Telefone Com Fio</span> é uma organização criada para combater a hegemonia da desinformação.
            </p>
            <p>
                Acesse nossas redes e ajude a espalhar essa iniciativa!
            </p>
        </section>
    </main>
</body>
</html>