<!DOCTYPE html>
<html lang="pt-br">
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/home.css">
<body>
    <header>
    <%- include("../partials/header"); %>
    </header>
    <main>
        <section>
            <h1>
                Você <span>confia</span><br>
                na informação<br>
                que recebe?
            </h1>
            
        </section>
        <div class="text">
            <p>
                A <span>Telefone Com Fio</span> é uma organização criada para<br> combater a hegemonia da desinformação.
            </p>
            <p>
                Acesse nossas redes e ajude a espalhar essa iniciativa!
            </p>
        </div>
        <div class="redes-sociais">
            <%- include("../partials/social-media"); %>
        </div>
    </main>
</body>
</html>