<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <h1 class="login">faça seu login</h1>
        <form action="">
            <label for="nome">Nome</label>
            <input id="email" name="email" type="text" placeholder="Seu email" required>
            <label for="email"></label>
            <input type="password" name="password" placeholder="Sua senha" required>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <div class="redes-sociais">
        <%- include("../partials/social-media"); %>
    </div>
    
</body>
</html>