<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <h1 class="registro">faça seu registro</h1>
        <form action="">
            <label for="nome">Nome</label>
            <input id="nome" name="name" type="text" placeholder="Seu nome" required>
            <label for="email"></label>
            <input type="email" name="email" placeholder="Seu email" required>
            <input type="password" name="password" placeholder="Digite uma senha" required>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <div class="redes-sociais">
        <%- include("../partials/social-media"); %>
    </div>
    
</body>
</html>