<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <h1>faça seu registro</h1>
        <form class="registro" action="/confirm" method="post" >
            <input id="name" name="name" type="text" placeholder="Seu nome" required>
            <input type="email" name="email" placeholder="Seu email" required>
            <input type="text" name="instagram" placeholder="@ do seu instagram" required>
            <input type="password" name="password" placeholder="Digite uma senha" required>
            <button type="submit">Registrar</button>
        </form>
    </main>
    <footer>
        <div class="redes-sociais">
            <%- include("../partials/social-media"); %>
        </div>
    </footer>
    
</body>
</html>