<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <section>
            <div class="bg-img">

            </div>
            <article>
                <h1>
                    quem somos?
                </h1>
                <p>
                    O Brasil está mergulhando num mar de desinformação.
                    Acreditamos que já está mais do que na hora de tomarmos
                    uma iniciativa para enfraquecer o poder manipulativo e
                    destrutivo das Fake News no povo brasileiro.
                </p>
                <p>
                    A <span>Telefone Com Fio</span> é uma organização criada para
                    
                </p>
                <p>

                </p>
            </article>
            <div class="redes-sociais">
                
            </div>
        </section>
    </main>
</body>
</html>