<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <section>
            <div class="bg-img">

            </div>
            <article>
                <h1 class="title">
                    quem somos?
                </h1>
                <p>
                    O Brasil está mergulhando num mar de desinformação.</br>
                    Acreditamos que já está mais do que na hora de tomarmos</br>
                    uma iniciativa para enfraquecer o poder manipulativo e</br>
                    destrutivo das Fake News no povo brasileiro.</br>
                </p>
                <p>
                    A <span>Telefone Com Fio</span> é uma organização criada para combater</br>
                    essa realidade através do compartilhamento de peças</br>
                    gráficas e digitais em suas redes.
                </p>
                <p>
                    Nosso objetivo é formar uma comunidade engajada em</br>
                    espalhar conscientização sobre um assunto tão importante.
                </p>
            </article>
            <div class="redes-sociais">
                <%- include("../partials/social-media"); %>
            </div>
        </section>
    </main>
</body>
</html>
