<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="css/upload.css">
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>
    <main>
        <h1>envie suas artes</h1>
        <p>
            Ou <span><a href="/registrar">clique aqui</a></span> para se registrar. 
        </p>
        <form class="login" method="post" action="/tocloud" enctype="multipart/form-data">
            <input id="file" name="file" type="file" required>
            <button type="submit">Enviar minha arte</button>
        </form>
    </main>
    <footer>
        <div class="redes-sociais">
            <%- include("../partials/social-media"); %>
        </div>
    </footer>
    
</body>
</html>