@media screen and (max-width: 989px) {
    nav > a:nth-child(4) {
        background-color: #e0dcdb;
        color: #bd1b30;
        margin: 0;
        padding: 1.2rem 0;
        width: 85vw;
    }
    section {

        margin-top: 5rem;
        display: grid;
        grid-template-rows: 15rem 1fr;
        grid-template-areas:
        "bg" 
        "text" 
    }
    
    .bg-img {
        grid-area: "bg";
        height: 15rem;
        width: 15rem;
        margin: auto;
        background-image: url("../images/imagem-sobre.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    article{
        grid-area: "text";
        text-align: center;
    }

    h1 {
        font-weight: 800;
        font-size: 2.5rem;
    }

    p {
        text-align: left;
        font-size: 1.8rem;
    }

    .redes-sociais {
        display: flex;
        align-items: center;
    }
    
    .redes-sociais > a {
        display: block;
        margin: 2rem auto;
    }

    .redes-sociais > a > img {
        height: 3.5rem;
    }
    
}
@media screen and (min-width: 990px) {
    

section {

    margin-top: 5rem;
    display: grid;
    grid-template-columns: 22vw 1fr;
    grid-template-areas:
    "bg" "text";
}

.bg-img {
    grid-area: "bg";
    height: 65vh;
    width: 35vw;
    background-image: url("../images/imagem-sobre.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    right: 100px;
}

article{
    grid-area: "text";
}

h1 {
    font-size: 4rem;
    text-align: right;
    line-height: 1;
}

p {
    text-align: right;
    font-size: 1.8em;
}

.redes-sociais{
    margin-top: 3rem;
}
.redes-sociais > a > img {
    height: 2.75rem;
    margin-left: 1.5rem;
}

}