<div>
    <img src="images/logo-mobile.png" alt="logo telefone com fio"> 
</div>
<nav>
    <a href="/">Inicio</a>
    <a href="/sobre">Sobre</a>
    <a href="/como-ajudar">Como ajudar</a>
    <a href="/contato">Contato</a>
</nav>
